@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.companies-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-moveLeftRight {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  animation: moveLeftRight 10s linear infinite;
}
